<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GoogleSucc</title>
</head>
<body>
    <h1>
        Welcome to GoogleSucc!
    </h1>
    <h2>
        Input your desired keyword, and we will succ the info out for you!
    </h2>
    <form action="#" th:action="@{/succ}" method="get">
        <label for="query">Keyword:</label>
        <input type="text" id="query" name="query" placeholder="term to succ">
        <input type="submit" value="SUCC">
    </form>
    <img src="succ.jpg">
    <div th:if="${results}" class="results">
        <h2>Search results:</h2>
        <ul>
            <li th:each="result : ${results}">
                <p><strong th:text="${result.title}">Title</strong></p>
                <p><a th:href="${result.link}" th:text="${result.link}">Link</a></p>
            </li>
        </ul>
        <a href="#" th:href="@{/download(query=${query})}" class="download">Download Results in JSON</a>
    </div>
</body>
</html>